<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Techfuture</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.10.1/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link href="../static/css/style.css" rel="stylesheet" />
    <link href="../static/css/responsive.css" rel="stylesheet" />

    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: "Roboto", sans-serif;
      }

      .inner-box .input {
        border: 2px solid #c2c2c2;
        padding: 15px 20px;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.1);
      }

      /* Modal CSS--*/
<!-- Modal -->

#myModal--effect-zoomIn.modal.fade .modal-dialog {
   -webkit-transform: scale(0.1);
   -moz-transform: scale(0.1);
   -ms-transform: scale(0.1);
   transform: scale(0.1);
   top: 180px;
   opacity: 0;
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   transition: all 0.3s;
}

#myModal--effect-zoomIn.modal.fade.in .modal-dialog {
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -webkit-transform: translate3d(0, -120px, 0);
   transform: translate3d(0, -120px, 0);
   opacity: 1;
}

/*modal-effect-pulse*/

#myModal--effect-pulse.modal.fade .modal-dialog {
   transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
   opacity: 0;
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   transition: all 0.3s;
}

#myModal--effect-pulse.modal.fade.in .modal-dialog {
   transform: perspective(400px) scale3d(.95, .95, .95);
   animation-timing-function: ease-in;
   opacity: 1;
}
    </style>
  </head>

  <!-- script for python files is added here  -->
  <script>
    function myFunction() {
      var text1 = $("#text1").val();
      console.log(text1);
      $.ajax({
        url: "/see",
        type: "POST",
        data: { text1: text1 },
      });
    }

    function myValue() {
      $.ajax({
        url: "/listen",
        type: "GET",
      }).done(function (response) {
        var html = "";
        response = response.result;
        $.each(response, function (key, val) {
          console.log(val);
          html += val + " ";
        });

        $("#text1").html(html);
      });
    }

    // top part

    function myKey() {
      var html = "Sign Keyboard is comming Soon";
      $("#text2").html(html);
    }

    function myAudio() {
      var text2 = $("#text2").val();

      $.ajax({
        url: "/audio",
        type: "POST",
        data: { text2: text2 },
      });
    }

    function Mycamera() {
      $.ajax({
        url: "/camera",
        type: "GET",
      }).done(function (response) {
        var html = "";
        response = response.result;
        $.each(response, function (key, val) {
          console.log(val);
          html += val + " ";
        });

        $("#text2").html(html);
      });
    }

    function mySearch() {
      var a = document.getElementById("text2").value;
      console.log("a " + a);
      var loc = "https://www.google.com/search?q=" + a;
      location.assign(loc);
    }
  </script>

  <body class="boxed_wrapper">
    <!-- main header -->
    <header class="main-header style-two">
      <div class="outer-container">
        <div class="container">
          <div class="main-box clearfix">
            <div class="logo-box pull-left">
              <figure class="logo">
                <a href="index.html"
                  ><img src="../static/images/resource/zariya3.png" alt=""
                /></a>
              </figure>
            </div>
            <div class="menu-area pull-right clearfix">
              <!--Mobile Navigation Toggler-->
              <div class="mobile-nav-toggler">
                <i class="icon-bar"></i>
                <i class="icon-bar"></i>
                <i class="icon-bar"></i>
              </div>
              <nav class="main-menu navbar-expand-md navbar-light">
                <div
                  class="collapse navbar-collapse show clearfix"
                  id="navbarSupportedContent"
                >
                  <ul class="navigation clearfix">
                    <li class="current"><a href="#">Home</a></li>
                    <li class="dropdown">
                      <a href="./Entertainment.html">Entertainment</a>
                    </li>
                    <li class="dropdown"><a href="./about.html">About</a></li>
                    <li class="dropdown">
                      <a href="./feedback.html">Feedback</a>
                    </li>
                    <li class="dropdown">
                      <a href="./instructions.html">Instructions</a>
                    </li>
                    <li class="dropdown"><a href="#" style="color: red">Help<i class="fas fa-question-circle" aria-hidden="true" style="margin-left: 3px"></i></a></li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>

      <!--sticky Header-->
      <div class="sticky-header">
        <div class="container clearfix">
          <figure class="logo-box">
            <a href="index.html"
              ><img src="../static/images/resource/zariya3.png" alt=""
            /></a>
          </figure>
          <div class="menu-area">
            <nav class="main-menu clearfix">
              <!--Keep This Empty / Menu will come through Javascript-->
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- main-header end -->

    <!-- Mobile Menu  -->
    <div class="mobile-menu">
      <div class="menu-backdrop"></div>
      <div class="close-btn"><i class="fas fa-times"></i></div>

      <nav class="menu-box">
        <div class="nav-logo">
          <a href="index.html"
            ><img src="../static/images/resource/zariya3.png" alt="" title=""
          /></a>
        </div>
        <div class="menu-outer">
          <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
        </div>
        <div class="contact-info">
          <h4>Contact Info</h4>
          <ul>
            <li>Navlakkha, Indore City, India</li>
            <li><a href="tel:+919998887776">+91 7000366660</a></li>
            <li><a href="mailto:info@example.com">info@example.com</a></li>
          </ul>
        </div>
        <div class="social-links">
          <ul class="clearfix">
            <li>
              <a href="#"><span class="fab fa-twitter"></span></a>
            </li>
            <li>
              <a href="#"><span class="fab fa-facebook-square"></span></a>
            </li>
            <li>
              <a href="#"><span class="fab fa-pinterest-p"></span></a>
            </li>
            <li>
              <a href="#"><span class="fab fa-instagram"></span></a>
            </li>
            <li>
              <a href="#"><span class="fab fa-youtube"></span></a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <!-- End Mobile Menu -->
    <br /><br /><br /><br />
    <!-- Gesture to Audio-section -->
    <section class="news-section">
      <div class="container">
        <div class="sec-title center">
          <h2>Gesture To Audio</h2>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12 news-column">
            <div
              class="news-block-one wow flipInY animated"
              data-wow-delay="00ms"
              data-wow-duration="1500ms"
            >
              <div class="inner-box">
                <div class="btn-box">
                  <a class="theme-btn" onclick="Mycamera()"
                    >Camera<i class="fas fa-camera"></i
                  ></a>
                </div>
                <br />
                <div class="btn-box">
                  <a class="theme-btn"  data-toggle="modal" data-target="#myModal--effect-zoomIn"
                    >Keyboard<i class="fas fa-keyboard"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 news-column">
            <div
              class="news-block-one wow flipInY animated"
              data-wow-delay="300ms"
              data-wow-duration="1500ms"
            >
              <div class="inner-box">
                <textarea
                  class="input"
                  name="caddress"
                  placeholder="Text.."
                  style="height: 150px"
                  id="text2"
                ></textarea>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 news-column">
            <div
              class="news-block-one wow flipInY animated"
              data-wow-delay="600ms"
              data-wow-duration="1500ms"
            >
              <div class="inner-box">
                <div class="btn-box">
                  <a class="theme-btn" onclick="myAudio()"
                    >Listen<i class="fas fa-play-circle"></i
                  ></a>
                </div>
                <br />
                <div class="btn-box">
                  <a class="theme-btn" onclick="mySearch()"
                    >Search<i class="fas fa-search"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Gesture to Audio section end -->

    <!-- new Audio To Gesture-section -->
    <section class="news-section">
      <div class="container">
        <div class="sec-title center">
          <h2>Audio To Gesture</h2>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12 news-column">
            <div
              class="news-block-one wow flipInY animated"
              data-wow-delay="00ms"
              data-wow-duration="1500ms"
            >
              <div class="inner-box">
                <br />
                <div class="btn-box">
                  <a class="theme-btn" onclick="myValue()">Say Something</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 news-column">
            <div
              class="news-block-one wow flipInY animated"
              data-wow-delay="300ms"
              data-wow-duration="1500ms"
            >
              <div class="inner-box">
                <textarea
                  class="input"
                  name="caddress"
                  placeholder="Text.."
                  style="height: 150px"
                  id="text1"
                ></textarea>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 news-column">
            <div
              class="news-block-one wow flipInY animated"
              data-wow-delay="600ms"
              data-wow-duration="1500ms"
            >
              <div class="inner-box">
                <br />
                <div class="btn-box">
                  <a class="theme-btn" onclick="myFunction()">View</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Audio To Gesture section end -->

    <!--Scroll to top-->
    <button class="scroll-top scroll-to-target" data-target="html">
      <span class="fa fa-arrow-up"></span>
    </button>

<!-- Modal -->
<div class="modal fade" id="myModal--effect-zoomIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-lg" role="document">
         <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">SIGN KEYBOARD -- Coming Soon!!</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
               <img style="width: 800px !important; height: 150%" src="../static/images/resource/keyboard.png" alt="" />
            </div>
            
         </div>
      </div>
   </div>
    <!-- jequery plugins -->
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/owl.js"></script>
    <script src="../static/js/wow.js"></script>
    <script src="../static/js/validation.js"></script>
    <script src="../static/js/jquery.fancybox.js"></script>
    <script src="../static/js/appear.js"></script>
    <script src="../static/js/circle-progress.js"></script>
    <script src="../static/js/jquery.countTo.js"></script>
    <script src="../static/js/scrollbar.js"></script>
    <script src="../static/js/jquery.paroller.min.js"></script>
    <script src="../static/js/tilt.jquery.js"></script>

    <!-- main-js -->
    <script src="../static/js/script.js"></script>
  </body>
</html>
